<div layout="row" layout-wrap layout-margin>
    <div flex="100">
        <h2>{{ 'aboutit.project.title'|translate }}</h2>
        <p>
            {{ 'aboutit.project.content'|translate }}
        </p>
    </div>
    <div flex="100">
        <h2>{{ 'aboutit.next.title'|translate }}</h2>
        <p>
            {{ 'aboutit.next.content'|translate }}
        </p>
    </div>
    <div flex="100">
        <h2>{{ 'aboutit.github.title'|translate }}</h2>
        <p>
            {{ 'aboutit.github.content'|translate }}
        </p>
        <a class="md-button md-primary" href="" target="_blank">{{ 'aboutit.github.access'|translate }}</a>
    </div>
    <div flex="100">
        <h2>{{ 'aboutit.contributors.title'|translate }}</h2>
        <p>
            {{ 'aboutit.contributors.content'|translate }}
        </p>
        <a class="md-button md-primary" href="www.christophe-boucaut.fr" target="_blank">{{ 'aboutit.contributors.access'|translate }}</a>
    </div>
</div>