<!DOCTYPE html>
<html ng-app="edMyShips">
    <head ng-controller="HeadController">
        <meta charset="utf-8">
        <title ng-if="additionnalTitle">{{ additionnalTitle }} - {{ 'head.base-title'|translate }}</title>
        <title ng-if="!additionnalTitle">{{ 'head.base-title'|translate }}</title>
        <link rel="stylesheet" href="/css/vendor.css">
        <script type="text/javascript" src="/js/vendor.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
    </head>
    <body>
        <header>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Menu">
                        <md-icon md-svg-icon="global:menu" aria-label="Menu"></md-icon>
                    </md-button>
                    <h2>
                        <span>{{ 'header.title'|translate }}</span>
                    </h2>
                    <!-- <span flex></span>
                    <md-button class="md-icon-button" aria-label="More">
                        <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
                    </md-button> -->
                  </div>
            </md-toolbar>
        </header>
        <main ng-view></main>
        <script>
            (function () {
                require('scripts/app');
            }());
        </script>
    </body>
</html>