<form name="shipForm" ng-show="editMode">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="{{ 'ship.tabs.info'|translate }}">
            <md-content>
                <div layout="row" layout-margin>
                        <div flex="100">
                            <div layout="row">
                                <md-autocomplete
                                    md-selected-item="selectedShip"
                                    md-search-text="searchShip"
                                    md-items="shipModel in shipsModelsSearch(searchShip)"
                                    md-item-text="shipModel.name"
                                    md-min-length="0"
                                    md-selected-item="currentShipModel"
                                    md-selected-item-change="changeShipModel(shipModel)"
                                    md-floating-label="{{ 'ship.data.modelShip.placeholder'|translate }}"
                                    flex="100"
                                    >
                                    <md-item-template>
                                        <span md-highlight-text="searchShip" md-highlight-flags="^i">{{ shipModel.name }}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        {{ 'ship.data.modelShip.noResult'|translate }}
                                    </md-not-found>
                                </md-autocomplete>
                                <div flex="5"></div>
                                <md-input-container flex="100">
                                    <label>{{ 'ship.data.alias.label'|translate }}</label>
                                    <input type="text" name="alias" ng-model="ship.alias" required>
                                    <div ng-messages="shipForm.alias.$error">
                                        <div ng-message="required">{{ 'ship.data.alias.error.required'|translate }}</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex="100">
                                    <label>{{ 'ship.data.insuranceCost.label'|translate }}</label>
                                    <input type="number" name="insuranceCost" ng-model="ship.insuranceCost" ng-pattern="/^[0-9]+$/">
                                    <div ng-messages="shipForm.insuranceCost.$error">
                                        <div ng-message="pattern">{{ 'ship.data.insuranceCost.error.required_digit'|translate }}</div>
                                        <div ng-message="number">{{ 'ship.data.insuranceCost.error.required_digit'|translate }}</div>
                                    </div>
                                </md-input-container>
                                <div flex="5"></div>
                                <md-input-container flex="100">
                                    <label>{{ 'ship.data.localisation.label'|translate }}</label>
                                    <input type="text" name="localisation" ng-model="ship.localisation">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
            </md-content>
        </md-tab>
        <md-tab label="{{ 'ship.tabs.note'|translate }}">
            <md-content>
                <div layout="row" layout-margin>
                    <md-input-container flex="100">
                        <label>{{ 'ship.data.note.label'|translate }}</label>
                        <textarea name="note" ng-model="ship.note" aria-label="Ship's note"></textarea>
                    </md-input-container>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="{{ 'ship.tabs.todo'|translate }}">
            <md-content>
                <div layout="row" layout-margin>
                    <md-input-container flex="40">
                        <label>{{ 'ship.data.todo.add.label'|translate }}</label>
                        <input type="text" name="newTaskValue" ng-model="newTaskValue" ng-keyup="addTask($event)">
                    </md-input-container>
                    <div flex="10">
                        <md-button class="md-raised md-warn" ng-click="addTask()">{{ 'ship.data.todo.add.register'|translate }}</md-button>
                    </div>
                </div>
                <div layout="row">
                    <md-list flex="100">
                        <md-list-item ng-repeat="task in ship.todoList">
                            <p>{{ task.description }}</p>
                            <md-checkbox ng-model="task.done"></md-checkbox>
                        </md-list-item>
                    </md-list>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</form>

<div ng-if="!editMode" layout="row" layout-sm="column" layout-xs="column" layout-margin>
    <div flex="40" flex-sm="100" flex-xs="100">
        <h2>{{ 'ship.see_ship'|translate }}</h2>
        <p>
            {{ 'ship.data.modelShip.viewMode'|translate }} : {{ currentShipModel.name }}<br>
            <span ng-if="ship.insuranceCost">{{ 'ship.data.insuranceCost.viewMode.label'|translate }} : {{ ship.insuranceCost|number }} {{ 'ship.data.insuranceCost.viewMode.credit'|translate }}<br></span>
            <span ng-if="ship.localisation">{{ 'ship.data.localisation.viewMode'|translate }} : {{ ship.localisation }}<br></span>
        </p>
        <h2 ng-if="ship.todoList.length">{{ 'ship.data.todo.viewMode'|translate }}</h2>
        <md-list>
            <md-list-item ng-repeat="task in ship.todoList | orderBy:'done'">
                <p ng-class="{'task-done': task.done}">{{ task.description }}</p>
                <md-checkbox ng-model="task.done" ng-change="changeTaskStatus()"></md-checkbox>
            </md-list-item>
        </md-list>
    </div>
    <div flex="60" flex-sm="100" flex-xs="100">
        <h2>{{ 'ship.data.note.viewMode.title'|translate }}</h2>
        <div ng-if="ship.note" ng-bind-html="ship.displayNote()" class="ship-note"></div>
        <span ng-if="!ship.note">{{ 'ship.data.note.viewMode.nothing'|translate }}</span>
    </div>
</div>